* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d8a1f9, #ffa8d6);
    color: #333;
    padding: 20px;

}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.header-buttons a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50; /* or a color of your choice */
    padding: 10px 15px;
    border-radius: 5px;
}

.header-buttons a:hover {
    background-color: #45a049;
}

.employee-info p {
    margin: 5px 0;
}

/* Dashboard card styles */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


h2 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}

.card p, .card ul li {
    font-size: 16px;
}

.clock {
    text-align: center;
    margin-top: 30px;
}

.clock-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clock-btn:hover {
    background-color: #218838;
}
